<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CHESS_INIT_COUNT</key>
	<array>
		<integer>9</integer>
		<integer>6</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>2</integer>
	</array>
	<key>CHESS_POOL_SIZE</key>
	<integer>5</integer>
	<key>SetCustomXPRequiredToReachNextLevel</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>8</integer>
		<integer>16</integer>
		<integer>32</integer>
		<integer>56</integer>
		<integer>88</integer>
		<integer>128</integer>
	</array>
	<key>ability_behavior_list</key>
	<dict>
		<key>a108</key>
		<integer>2</integer>
		<key>abaddon_aphotic_shield</key>
		<integer>9</integer>
		<key>alchemist_acid_spray</key>
		<integer>3</integer>
		<key>antimage_mana_break</key>
		<integer>0</integer>
		<key>axe_berserkers_call</key>
		<integer>2</integer>
		<key>batrider_firefly</key>
		<integer>6</integer>
		<key>batrider_sticky_napalm</key>
		<integer>3</integer>
		<key>beastmaster_wild_axes</key>
		<integer>3</integer>
		<key>bounty_hunter_shuriken_toss</key>
		<integer>1</integer>
		<key>bump</key>
		<integer>11</integer>
		<key>chaos_knight_chaos_bolt</key>
		<integer>1</integer>
		<key>chess_tech_bomb</key>
		<integer>8</integer>
		<key>ck_illusion</key>
		<integer>2</integer>
		<key>crystal_maiden_brilliance_aura</key>
		<integer>0</integer>
		<key>disruptor_static_storm</key>
		<integer>3</integer>
		<key>doom_bringer_doom</key>
		<integer>10</integer>
		<key>dragon_knight_elder_dragon_form</key>
		<integer>2</integer>
		<key>enchantress_natures_attendants</key>
		<integer>2</integer>
		<key>enigma_midnight_pulse</key>
		<integer>3</integer>
		<key>fur_tree</key>
		<integer>6</integer>
		<key>gyrocopter_call_down</key>
		<integer>3</integer>
		<key>jakiro_macropyre</key>
		<integer>3</integer>
		<key>juggernaut_blade_fury</key>
		<integer>2</integer>
		<key>keeper_of_the_light_illuminate</key>
		<integer>3</integer>
		<key>kunkka_ghostship</key>
		<integer>3</integer>
		<key>ld_bear</key>
		<integer>8</integer>
		<key>lich_chain_frost</key>
		<integer>1</integer>
		<key>lina_laguna_blade</key>
		<integer>10</integer>
		<key>luna_moon_glaive</key>
		<integer>0</integer>
		<key>lyc_wolf</key>
		<integer>2</integer>
		<key>medusa_stone_gaze</key>
		<integer>2</integer>
		<key>morphling_waveform</key>
		<integer>11</integer>
		<key>nec_ssr_scythe</key>
		<integer>1</integer>
		<key>necrolyte_death_pulse</key>
		<integer>2</integer>
		<key>nevermore_requiem</key>
		<integer>2</integer>
		<key>ogre_magi_bloodlust</key>
		<integer>7</integer>
		<key>ogre_magi_ignite</key>
		<integer>1</integer>
		<key>omniknight_purification</key>
		<integer>9</integer>
		<key>phantom_assassin_coup_de_grace</key>
		<integer>0</integer>
		<key>puck_illusory_orb</key>
		<integer>3</integer>
		<key>queenofpain_scream_of_pain</key>
		<integer>2</integer>
		<key>rattletrap_battery_assault</key>
		<integer>2</integer>
		<key>razor_plasma_field</key>
		<integer>2</integer>
		<key>sandking_burrowstrike</key>
		<integer>11</integer>
		<key>shadow_shaman_voodoo</key>
		<integer>1</integer>
		<key>shooter_aura</key>
		<integer>0</integer>
		<key>shredder_whirling_death</key>
		<integer>2</integer>
		<key>slardar_amplify_damage</key>
		<integer>1</integer>
		<key>slark_shadow_dance</key>
		<integer>2</integer>
		<key>sniper_assassinate</key>
		<integer>1</integer>
		<key>sven_great_cleave</key>
		<integer>0</integer>
		<key>tb_mohua</key>
		<integer>2</integer>
		<key>templar_assassin_refraction</key>
		<integer>2</integer>
		<key>tidehunter_ravage</key>
		<integer>2</integer>
		<key>tiny_touzhi</key>
		<integer>12</integer>
		<key>treant_leech_seed</key>
		<integer>5</integer>
		<key>troll_warlord_fervor</key>
		<integer>0</integer>
		<key>troll_warlord_whirling_axes_melee</key>
		<integer>2</integer>
		<key>troll_warlord_whirling_axes_ranged</key>
		<integer>1</integer>
		<key>tusk_walrus_punch</key>
		<integer>5</integer>
		<key>veno_ward</key>
		<integer>8</integer>
		<key>venomancer_poison_nova</key>
		<integer>2</integer>
		<key>viper_viper_strike</key>
		<integer>1</integer>
		<key>windrunner_powershot</key>
		<integer>3</integer>
		<key>witch_doctor_paralyzing_cask</key>
		<integer>1</integer>
	</dict>
	<key>battle_boss</key>
	<array>
		<array>
			<dict>
				<key>enemy</key>
				<string>pve_melee_good</string>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>pve_melee_good</string>
				<key>x</key>
				<integer>5</integer>
				<key>y</key>
				<integer>8</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>enemy</key>
				<string>pve_melee_good_mega</string>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>pve_ranged_good</string>
				<key>x</key>
				<integer>5</integer>
				<key>y</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>pve_ranged_good</string>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>8</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>enemy</key>
				<string>pve_melee_good_mega</string>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>pve_melee_good_mega</string>
				<key>x</key>
				<integer>5</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>pve_ranged_good</string>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>pve_ranged_good</string>
				<key>x</key>
				<integer>5</integer>
				<key>y</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>pve_melee_good</string>
				<key>x</key>
				<integer>3</integer>
				<key>y</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>enemy</key>
				<string>pve_melee_good</string>
				<key>x</key>
				<integer>6</integer>
				<key>y</key>
				<integer>7</integer>
			</dict>
		</array>
	</array>
	<key>chess_2_mana</key>
	<dict>
		<key>chess_abaddon</key>
		<integer>3</integer>
		<key>chess_am</key>
		<integer>1</integer>
		<key>chess_axe</key>
		<integer>1</integer>
		<key>chess_bat</key>
		<integer>1</integer>
		<key>chess_bh</key>
		<integer>1</integer>
		<key>chess_bm</key>
		<integer>2</integer>
		<key>chess_ck</key>
		<integer>2</integer>
		<key>chess_ck_ssr</key>
		<integer>15</integer>
		<key>chess_clock</key>
		<integer>1</integer>
		<key>chess_cm</key>
		<integer>2</integer>
		<key>chess_disruptor</key>
		<integer>4</integer>
		<key>chess_dk</key>
		<integer>4</integer>
		<key>chess_doom</key>
		<integer>4</integer>
		<key>chess_dr</key>
		<integer>1</integer>
		<key>chess_eh</key>
		<integer>1</integer>
		<key>chess_enigma</key>
		<integer>5</integer>
		<key>chess_fur</key>
		<integer>2</integer>
		<key>chess_ga</key>
		<integer>4</integer>
		<key>chess_gyro</key>
		<integer>5</integer>
		<key>chess_jugg</key>
		<integer>2</integer>
		<key>chess_kael</key>
		<integer>3</integer>
		<key>chess_kunkka</key>
		<integer>4</integer>
		<key>chess_ld</key>
		<integer>4</integer>
		<key>chess_lich</key>
		<integer>5</integer>
		<key>chess_light</key>
		<integer>4</integer>
		<key>chess_lina</key>
		<integer>3</integer>
		<key>chess_luna</key>
		<integer>2</integer>
		<key>chess_lyc</key>
		<integer>3</integer>
		<key>chess_medusa</key>
		<integer>4</integer>
		<key>chess_morph</key>
		<integer>2</integer>
		<key>chess_nec</key>
		<integer>4</integer>
		<key>chess_nec_ssr</key>
		<integer>10</integer>
		<key>chess_ok</key>
		<integer>3</integer>
		<key>chess_om</key>
		<integer>1</integer>
		<key>chess_pa</key>
		<integer>3</integer>
		<key>chess_puck</key>
		<integer>2</integer>
		<key>chess_qop</key>
		<integer>2</integer>
		<key>chess_razor</key>
		<integer>3</integer>
		<key>chess_sf</key>
		<integer>3</integer>
		<key>chess_shredder</key>
		<integer>2</integer>
		<key>chess_sk</key>
		<integer>3</integer>
		<key>chess_slardar</key>
		<integer>2</integer>
		<key>chess_slark</key>
		<integer>3</integer>
		<key>chess_sniper</key>
		<integer>3</integer>
		<key>chess_ss</key>
		<integer>1</integer>
		<key>chess_sven</key>
		<integer>5</integer>
		<key>chess_ta</key>
		<integer>4</integer>
		<key>chess_tb</key>
		<integer>3</integer>
		<key>chess_tech</key>
		<integer>5</integer>
		<key>chess_th</key>
		<integer>5</integer>
		<key>chess_tiny</key>
		<integer>1</integer>
		<key>chess_tk</key>
		<integer>1</integer>
		<key>chess_tp</key>
		<integer>2</integer>
		<key>chess_troll</key>
		<integer>4</integer>
		<key>chess_tusk</key>
		<integer>1</integer>
		<key>chess_veno</key>
		<integer>3</integer>
		<key>chess_viper</key>
		<integer>3</integer>
		<key>chess_wd</key>
		<integer>2</integer>
		<key>chess_wr</key>
		<integer>3</integer>
		<key>chess_zeus</key>
		<integer>5</integer>
	</dict>
	<key>chess_ability_list</key>
	<dict>
		<key>chess_abaddon</key>
		<string>abaddon_aphotic_shield</string>
		<key>chess_abaddon1</key>
		<string>abaddon_aphotic_shield</string>
		<key>chess_abaddon11</key>
		<string>abaddon_aphotic_shield</string>
		<key>chess_am</key>
		<string>antimage_mana_break</string>
		<key>chess_am1</key>
		<string>antimage_mana_break</string>
		<key>chess_am11</key>
		<string>antimage_mana_break</string>
		<key>chess_axe</key>
		<string>axe_berserkers_call</string>
		<key>chess_axe1</key>
		<string>axe_berserkers_call</string>
		<key>chess_axe11</key>
		<string>axe_berserkers_call</string>
		<key>chess_bat</key>
		<string>batrider_sticky_napalm</string>
		<key>chess_bat1</key>
		<string>batrider_sticky_napalm</string>
		<key>chess_bat11</key>
		<string>batrider_sticky_napalm</string>
		<key>chess_bh</key>
		<string>bounty_hunter_shuriken_toss</string>
		<key>chess_bh1</key>
		<string>bounty_hunter_shuriken_toss</string>
		<key>chess_bh11</key>
		<string>bounty_hunter_shuriken_toss</string>
		<key>chess_bm</key>
		<string>beastmaster_wild_axes</string>
		<key>chess_bm1</key>
		<string>beastmaster_wild_axes</string>
		<key>chess_bm11</key>
		<string>beastmaster_wild_axes</string>
		<key>chess_ck</key>
		<string>chaos_knight_chaos_bolt</string>
		<key>chess_ck1</key>
		<string>chaos_knight_chaos_bolt</string>
		<key>chess_ck11</key>
		<string>chaos_knight_chaos_bolt</string>
		<key>chess_ck_ssr</key>
		<string>ck_illusion</string>
		<key>chess_clock</key>
		<string>rattletrap_battery_assault</string>
		<key>chess_clock1</key>
		<string>rattletrap_battery_assault</string>
		<key>chess_clock11</key>
		<string>rattletrap_battery_assault</string>
		<key>chess_cm</key>
		<string>cm_mana_aura</string>
		<key>chess_cm1</key>
		<string>cm_mana_aura</string>
		<key>chess_cm11</key>
		<string>cm_mana_aura</string>
		<key>chess_disruptor</key>
		<string>disruptor_static_storm</string>
		<key>chess_disruptor1</key>
		<string>disruptor_static_storm</string>
		<key>chess_disruptor11</key>
		<string>disruptor_static_storm</string>
		<key>chess_dk</key>
		<string>dragon_knight_elder_dragon_form</string>
		<key>chess_dk1</key>
		<string>dragon_knight_elder_dragon_form</string>
		<key>chess_dk11</key>
		<string>dragon_knight_elder_dragon_form</string>
		<key>chess_doom</key>
		<string>doom_bringer_doom</string>
		<key>chess_doom1</key>
		<string>doom_bringer_doom</string>
		<key>chess_doom11</key>
		<string>doom_bringer_doom</string>
		<key>chess_dr</key>
		<string>shooter_aura</string>
		<key>chess_dr1</key>
		<string>shooter_aura</string>
		<key>chess_dr11</key>
		<string>shooter_aura</string>
		<key>chess_eh</key>
		<string>enchantress_natures_attendants</string>
		<key>chess_eh1</key>
		<string>enchantress_natures_attendants</string>
		<key>chess_eh11</key>
		<string>enchantress_natures_attendants</string>
		<key>chess_enigma</key>
		<string>enigma_midnight_pulse</string>
		<key>chess_enigma1</key>
		<string>enigma_midnight_pulse</string>
		<key>chess_enigma11</key>
		<string>enigma_midnight_pulse</string>
		<key>chess_fur</key>
		<string>fur_tree</string>
		<key>chess_fur1</key>
		<string>fur_tree</string>
		<key>chess_fur11</key>
		<string>fur_tree</string>
		<key>chess_ga</key>
		<string>alchemist_acid_spray</string>
		<key>chess_ga1</key>
		<string>alchemist_acid_spray</string>
		<key>chess_ga11</key>
		<string>alchemist_acid_spray</string>
		<key>chess_gyro</key>
		<string>gyrocopter_call_down</string>
		<key>chess_gyro1</key>
		<string>gyrocopter_call_down</string>
		<key>chess_gyro11</key>
		<string>gyrocopter_call_down</string>
		<key>chess_jakiro</key>
		<string>jakiro_macropyre</string>
		<key>chess_jakiro1</key>
		<string>jakiro_macropyre</string>
		<key>chess_jakiro11</key>
		<string>jakiro_macropyre</string>
		<key>chess_jugg</key>
		<string>juggernaut_blade_fury</string>
		<key>chess_jugg1</key>
		<string>juggernaut_blade_fury</string>
		<key>chess_jugg11</key>
		<string>juggernaut_blade_fury</string>
		<key>chess_kunkka</key>
		<string>kunkka_ghostship</string>
		<key>chess_kunkka1</key>
		<string>kunkka_ghostship</string>
		<key>chess_kunkka11</key>
		<string>kunkka_ghostship</string>
		<key>chess_ld</key>
		<string>ld_bear</string>
		<key>chess_ld1</key>
		<string>ld_bear</string>
		<key>chess_ld11</key>
		<string>ld_bear</string>
		<key>chess_lich</key>
		<string>lich_chain_frost</string>
		<key>chess_lich1</key>
		<string>lich_chain_frost</string>
		<key>chess_lich11</key>
		<string>lich_chain_frost</string>
		<key>chess_light</key>
		<string>keeper_of_the_light_illuminate</string>
		<key>chess_light1</key>
		<string>keeper_of_the_light_illuminate</string>
		<key>chess_light11</key>
		<string>keeper_of_the_light_illuminate</string>
		<key>chess_lina</key>
		<string>lina_laguna_blade</string>
		<key>chess_lina1</key>
		<string>lina_laguna_blade</string>
		<key>chess_lina11</key>
		<string>lina_laguna_blade</string>
		<key>chess_luna</key>
		<string>luna_moon_glaive</string>
		<key>chess_luna1</key>
		<string>luna_moon_glaive</string>
		<key>chess_luna11</key>
		<string>luna_moon_glaive</string>
		<key>chess_lyc</key>
		<string>lyc_wolf</string>
		<key>chess_lyc1</key>
		<string>lyc_wolf</string>
		<key>chess_lyc11</key>
		<string>lyc_wolf</string>
		<key>chess_medusa</key>
		<string>medusa_stone_gaze</string>
		<key>chess_medusa1</key>
		<string>medusa_stone_gaze</string>
		<key>chess_medusa11</key>
		<string>medusa_stone_gaze</string>
		<key>chess_morph</key>
		<string>morphling_waveform</string>
		<key>chess_morph1</key>
		<string>morphling_waveform</string>
		<key>chess_morph11</key>
		<string>morphling_waveform</string>
		<key>chess_nec</key>
		<string>necrolyte_death_pulse</string>
		<key>chess_nec1</key>
		<string>necrolyte_death_pulse</string>
		<key>chess_nec11</key>
		<string>necrolyte_death_pulse</string>
		<key>chess_nec_ssr</key>
		<string>nec_ssr_scythe</string>
		<key>chess_ok</key>
		<string>omniknight_purification</string>
		<key>chess_ok1</key>
		<string>omniknight_purification</string>
		<key>chess_ok11</key>
		<string>omniknight_purification</string>
		<key>chess_om</key>
		<string>ogre_magi_bloodlust</string>
		<key>chess_om1</key>
		<string>ogre_magi_bloodlust</string>
		<key>chess_om11</key>
		<string>ogre_magi_bloodlust</string>
		<key>chess_pa</key>
		<string>phantom_assassin_coup_de_grace</string>
		<key>chess_pa1</key>
		<string>phantom_assassin_coup_de_grace</string>
		<key>chess_pa11</key>
		<string>phantom_assassin_coup_de_grace</string>
		<key>chess_puck</key>
		<string>puck_illusory_orb</string>
		<key>chess_puck1</key>
		<string>puck_illusory_orb</string>
		<key>chess_puck11</key>
		<string>puck_illusory_orb</string>
		<key>chess_qop</key>
		<string>queenofpain_scream_of_pain</string>
		<key>chess_qop1</key>
		<string>queenofpain_scream_of_pain</string>
		<key>chess_qop11</key>
		<string>queenofpain_scream_of_pain</string>
		<key>chess_razor</key>
		<string>razor_plasma_field</string>
		<key>chess_razor1</key>
		<string>razor_plasma_field</string>
		<key>chess_razor11</key>
		<string>razor_plasma_field</string>
		<key>chess_sf</key>
		<string>nevermore_requiem</string>
		<key>chess_sf1</key>
		<string>nevermore_requiem</string>
		<key>chess_sf11</key>
		<string>nevermore_requiem</string>
		<key>chess_shredder</key>
		<string>shredder_whirling_death</string>
		<key>chess_shredder1</key>
		<string>shredder_whirling_death</string>
		<key>chess_shredder11</key>
		<string>shredder_whirling_death</string>
		<key>chess_sk</key>
		<string>sandking_burrowstrike</string>
		<key>chess_sk1</key>
		<string>sandking_burrowstrike</string>
		<key>chess_sk11</key>
		<string>sandking_burrowstrike</string>
		<key>chess_slardar</key>
		<string>slardar_amplify_damage</string>
		<key>chess_slardar1</key>
		<string>slardar_amplify_damage</string>
		<key>chess_slardar11</key>
		<string>slardar_amplify_damage</string>
		<key>chess_slark</key>
		<string>slark_shadow_dance</string>
		<key>chess_slark1</key>
		<string>slark_shadow_dance</string>
		<key>chess_slark11</key>
		<string>slark_shadow_dance</string>
		<key>chess_sniper</key>
		<string>sniper_assassinate</string>
		<key>chess_sniper1</key>
		<string>sniper_assassinate</string>
		<key>chess_sniper11</key>
		<string>sniper_assassinate</string>
		<key>chess_ss</key>
		<string>shadow_shaman_voodoo</string>
		<key>chess_ss1</key>
		<string>shadow_shaman_voodoo</string>
		<key>chess_ss11</key>
		<string>shadow_shaman_voodoo</string>
		<key>chess_ta</key>
		<string>templar_assassin_refraction</string>
		<key>chess_ta1</key>
		<string>templar_assassin_refraction</string>
		<key>chess_ta11</key>
		<string>templar_assassin_refraction</string>
		<key>chess_tb</key>
		<string>tb_mohua</string>
		<key>chess_tb1</key>
		<string>tb_mohua</string>
		<key>chess_tb11</key>
		<string>tb_mohua</string>
		<key>chess_tech</key>
		<string>chess_tech_bomb</string>
		<key>chess_tech1</key>
		<string>chess_tech_bomb</string>
		<key>chess_tech11</key>
		<string>chess_tech_bomb</string>
		<key>chess_th</key>
		<string>tidehunter_ravage</string>
		<key>chess_th1</key>
		<string>tidehunter_ravage</string>
		<key>chess_th11</key>
		<string>tidehunter_ravage</string>
		<key>chess_tiny</key>
		<string>tiny_touzhi</string>
		<key>chess_tiny1</key>
		<string>tiny_touzhi</string>
		<key>chess_tiny11</key>
		<string>tiny_touzhi</string>
		<key>chess_tk</key>
		<string>a108</string>
		<key>chess_tk1</key>
		<string>a108</string>
		<key>chess_tk11</key>
		<string>a108</string>
		<key>chess_tp</key>
		<string>treant_leech_seed</string>
		<key>chess_tp1</key>
		<string>treant_leech_seed</string>
		<key>chess_tp11</key>
		<string>treant_leech_seed</string>
		<key>chess_troll</key>
		<string>troll_warlord_fervor</string>
		<key>chess_troll1</key>
		<string>troll_warlord_fervor</string>
		<key>chess_troll11</key>
		<string>troll_warlord_fervor</string>
		<key>chess_tusk</key>
		<string>tusk_walrus_punch</string>
		<key>chess_tusk1</key>
		<string>tusk_walrus_punch</string>
		<key>chess_tusk11</key>
		<string>tusk_walrus_punch</string>
		<key>chess_veno</key>
		<string>veno_ward</string>
		<key>chess_veno1</key>
		<string>veno_ward</string>
		<key>chess_veno11</key>
		<string>veno_ward</string>
		<key>chess_viper</key>
		<string>viper_viper_strike</string>
		<key>chess_viper1</key>
		<string>viper_viper_strike</string>
		<key>chess_viper11</key>
		<string>viper_viper_strike</string>
		<key>chess_wd</key>
		<string>witch_doctor_paralyzing_cask</string>
		<key>chess_wd1</key>
		<string>witch_doctor_paralyzing_cask</string>
		<key>chess_wd11</key>
		<string>witch_doctor_paralyzing_cask</string>
		<key>chess_wr</key>
		<string>windrunner_powershot</string>
		<key>chess_wr1</key>
		<string>windrunner_powershot</string>
		<key>chess_wr11</key>
		<string>windrunner_powershot</string>
	</dict>
	<key>chess_gailv</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>chess_list_by_mana</key>
	<array>
		<array>
			<string>chess_tusk</string>
			<string>chess_axe</string>
			<string>chess_eh</string>
			<string>chess_om</string>
			<string>chess_clock</string>
			<string>chess_ss</string>
			<string>chess_bh</string>
			<string>chess_bat</string>
			<string>chess_dr</string>
			<string>chess_tk</string>
			<string>chess_am</string>
			<string>chess_tiny</string>
		</array>
		<array>
			<string>chess_bm</string>
			<string>chess_jugg</string>
			<string>chess_shredder</string>
			<string>chess_puck</string>
			<string>chess_ck</string>
			<string>chess_slardar</string>
			<string>chess_luna</string>
			<string>chess_tp</string>
			<string>chess_qop</string>
			<string>chess_wd</string>
			<string>chess_cm</string>
			<string>chess_fur</string>
			<string>chess_morph</string>
		</array>
		<array>
			<string>chess_ok</string>
			<string>chess_razor</string>
			<string>chess_wr</string>
			<string>chess_sk</string>
			<string>chess_abaddon</string>
			<string>chess_slark</string>
			<string>chess_sniper</string>
			<string>chess_sf</string>
			<string>chess_viper</string>
			<string>chess_lyc</string>
			<string>chess_pa</string>
			<string>chess_veno</string>
			<string>chess_lina</string>
			<string>chess_tb</string>
		</array>
		<array>
			<string>chess_kunkka</string>
			<string>chess_doom</string>
			<string>chess_troll</string>
			<string>chess_nec</string>
			<string>chess_ta</string>
			<string>chess_medusa</string>
			<string>chess_disruptor</string>
			<string>chess_ga</string>
			<string>chess_dk</string>
			<string>chess_light</string>
			<string>chess_ld</string>
		</array>
		<array>
			<string>chess_gyro</string>
			<string>chess_lich</string>
			<string>chess_th</string>
			<string>chess_enigma</string>
			<string>chess_tech</string>
		</array>
	</array>
	<key>chess_list_ssr</key>
	<array>
		<string>chess_nec_ssr</string>
		<string>chess_ck_ssr</string>
	</array>
	<key>combined_items</key>
	<array>
		<string>item_fengkuangmianju</string>
		<string>item_shengjian</string>
		<string>item_qiangxi</string>
		<string>item_longxin</string>
		<string>item_renjia</string>
		<string>item_xianfengdun</string>
		<string>item_shuijingjian</string>
		<string>item_dapao</string>
		<string>item_anmie</string>
		<string>item_xuanwo</string>
		<string>item_dadianchui</string>
		<string>item_jingubang</string>
		<string>item_tiaozhantoujin</string>
		<string>item_yinyuezhijing</string>
		<string>item_jianrenqiu</string>
		<string>item_shuaxinqiu</string>
		<string>item_huiguang</string>
	</array>
	<key>combo_ability_type</key>
	<dict>
		<key>is_assassin</key>
		<dict>
			<key>ability</key>
			<string>is_assassin_buff</string>
			<key>condition</key>
			<integer>3</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_assassin1</key>
		<dict>
			<key>ability</key>
			<string>is_assassin_buff_plus</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_beast</key>
		<dict>
			<key>ability</key>
			<string>is_beast_buff</string>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<key>is_beast1</key>
		<dict>
			<key>ability</key>
			<string>is_beast_buff_plus</string>
			<key>condition</key>
			<integer>4</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<key>is_beast11</key>
		<dict>
			<key>ability</key>
			<string>is_beast_buff_plus_plus</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<key>is_demon</key>
		<dict>
			<key>ability</key>
			<string>is_demon_buff</string>
			<key>condition</key>
			<integer>0</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_demonhunter</key>
		<dict>
			<key>condition</key>
			<integer>1</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_demonhunter1</key>
		<dict>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_dragon</key>
		<dict>
			<key>condition</key>
			<integer>3</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_druid</key>
		<dict>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_dwarf</key>
		<dict>
			<key>ability</key>
			<string>is_dwarf_buff</string>
			<key>condition</key>
			<integer>1</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_element</key>
		<dict>
			<key>ability</key>
			<string>is_element_buff</string>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_element1</key>
		<dict>
			<key>ability</key>
			<string>is_element_buff</string>
			<key>condition</key>
			<integer>4</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<key>is_elf</key>
		<dict>
			<key>ability</key>
			<string>is_elf_buff</string>
			<key>condition</key>
			<integer>3</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_elf1</key>
		<dict>
			<key>ability</key>
			<string>is_elf_buff_plus</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_goblin</key>
		<dict>
			<key>ability</key>
			<string>is_goblin_buff</string>
			<key>condition</key>
			<integer>3</integer>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<key>is_goblin1</key>
		<dict>
			<key>ability</key>
			<string>is_goblin_buff</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_human</key>
		<dict>
			<key>ability</key>
			<string>is_human_buff</string>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_human1</key>
		<dict>
			<key>ability</key>
			<string>is_human_buff_plus</string>
			<key>condition</key>
			<integer>4</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_human11</key>
		<dict>
			<key>ability</key>
			<string>is_human_buff_plus_plus</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_hunter</key>
		<dict>
			<key>ability</key>
			<string>is_hunter_buff</string>
			<key>condition</key>
			<integer>3</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_hunter1</key>
		<dict>
			<key>ability</key>
			<string>is_hunter_buff_plus</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_knight</key>
		<dict>
			<key>ability</key>
			<string>is_knight_buff</string>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_knight1</key>
		<dict>
			<key>ability</key>
			<string>is_knight_buff_plus</string>
			<key>condition</key>
			<integer>4</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_knight11</key>
		<dict>
			<key>ability</key>
			<string>is_knight_buff_plus_plus</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_mage</key>
		<dict>
			<key>ability</key>
			<string>is_mage_buff</string>
			<key>condition</key>
			<integer>3</integer>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<key>is_mage1</key>
		<dict>
			<key>ability</key>
			<string>is_mage_buff_plus</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<key>is_mech</key>
		<dict>
			<key>ability</key>
			<string>is_mech_buff</string>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_mech1</key>
		<dict>
			<key>ability</key>
			<string>is_mech_buff_plus</string>
			<key>condition</key>
			<integer>4</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_naga</key>
		<dict>
			<key>ability</key>
			<string>is_naga_buff</string>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<key>is_naga1</key>
		<dict>
			<key>ability</key>
			<string>is_naga_buff_plus</string>
			<key>condition</key>
			<integer>4</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<key>is_ogre</key>
		<dict>
			<key>ability</key>
			<string>is_ogre_buff</string>
			<key>condition</key>
			<integer>1</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_orc</key>
		<dict>
			<key>ability</key>
			<string>is_orc_buff</string>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_orc1</key>
		<dict>
			<key>ability</key>
			<string>is_orc_buff_plus</string>
			<key>condition</key>
			<integer>4</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_orc11</key>
		<dict>
			<key>ability</key>
			<string>is_orc_buff_plus_plus</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_shaman</key>
		<dict>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<key>is_troll</key>
		<dict>
			<key>ability</key>
			<string>is_troll_buff</string>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_troll1</key>
		<dict>
			<key>ability</key>
			<string>is_troll_buff_plus</string>
			<key>condition</key>
			<integer>4</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<key>is_undead</key>
		<dict>
			<key>ability</key>
			<string>is_undead_buff</string>
			<key>condition</key>
			<integer>2</integer>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<key>is_undead1</key>
		<dict>
			<key>ability</key>
			<string>is_undead_buff_plus</string>
			<key>condition</key>
			<integer>4</integer>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<key>is_undead11</key>
		<dict>
			<key>ability</key>
			<string>is_undead_buff_plus_plus</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<key>is_warlock</key>
		<dict>
			<key>ability</key>
			<string>is_warlock_buff</string>
			<key>condition</key>
			<integer>3</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<key>is_warlock1</key>
		<dict>
			<key>ability</key>
			<string>is_warlock_buff_plus</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<key>is_warrior</key>
		<dict>
			<key>ability</key>
			<string>is_warrior_buff</string>
			<key>condition</key>
			<integer>3</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_warrior1</key>
		<dict>
			<key>ability</key>
			<string>is_warrior_buff_plus</string>
			<key>condition</key>
			<integer>6</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<key>is_warrior11</key>
		<dict>
			<key>ability</key>
			<string>is_warrior_buff_plus_plus</string>
			<key>condition</key>
			<integer>9</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>drop_item_gailv</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>version</key>
	<string>20180210</string>
</dict>
</plist>
