<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DOTAHeroes</key>
	<dict>
		<key>Version</key>
		<string>1</string>
		<key>npc_dota_hero_wisp</key>
		<dict>
			<key>Ability1</key>
			<string>empty1</string>
			<key>Ability10</key>
			<string>empty10</string>
			<key>Ability11</key>
			<string>empty11</string>
			<key>Ability12</key>
			<string>empty12</string>
			<key>Ability13</key>
			<string>empty13</string>
			<key>Ability14</key>
			<string>empty14</string>
			<key>Ability15</key>
			<string>empty15</string>
			<key>Ability16</key>
			<string>empty16</string>
			<key>Ability17</key>
			<string>tt7</string>
			<key>Ability18</key>
			<string>tt8</string>
			<key>Ability19</key>
			<string>tt5</string>
			<key>Ability2</key>
			<string>empty2</string>
			<key>Ability20</key>
			<string>tt6</string>
			<key>Ability21</key>
			<string>tt3</string>
			<key>Ability22</key>
			<string>tt4</string>
			<key>Ability23</key>
			<string>tt1</string>
			<key>Ability24</key>
			<string>tt2</string>
			<key>Ability3</key>
			<string>empty3</string>
			<key>Ability4</key>
			<string>empty4</string>
			<key>Ability5</key>
			<string>empty5</string>
			<key>Ability6</key>
			<string>empty6</string>
			<key>Ability7</key>
			<string>empty7</string>
			<key>Ability8</key>
			<string>empty8</string>
			<key>Ability9</key>
			<string>empty9</string>
			<key>ArmorPhysical</key>
			<string>0</string>
			<key>AttackCapabilities</key>
			<string>DOTA_UNIT_CAP_NO_ATTACK</string>
			<key>AttackDamageMax</key>
			<string>0</string>
			<key>AttackDamageMin</key>
			<string>0</string>
			<key>AttackRate</key>
			<string>0</string>
			<key>AttributeAgilityGain</key>
			<string>0</string>
			<key>AttributeBaseAgility</key>
			<string>0</string>
			<key>AttributeBaseIntelligence</key>
			<string>0</string>
			<key>AttributeBaseStrength</key>
			<string>0</string>
			<key>AttributeIntelligenceGain</key>
			<string>0</string>
			<key>AttributePrimary</key>
			<string>DOTA_ATTRIBUTE_INTELLECT</string>
			<key>AttributeStrengthGain</key>
			<string>0</string>
			<key>FollowRange</key>
			<string>100</string>
			<key>GameSoundsFile</key>
			<string>soundevents/game_sounds_heroes/game_sounds_wisp.vsndevts</string>
			<key>HasAggressiveStance</key>
			<string>0</string>
			<key>HasInventory</key>
			<string>1</string>
			<key>HealthBarOffset</key>
			<string>150</string>
			<key>IsAncient</key>
			<string>1</string>
			<key>MagicalResistance</key>
			<string>0</string>
			<key>Model</key>
			<string>models/props_gameplay/donkey.vmdl</string>
			<key>ModelScale</key>
			<string>0.0001</string>
			<key>MovementCapabilities</key>
			<string>DOTA_UNIT_CAP_MOVE_GROUND</string>
			<key>MovementSpeed</key>
			<string>500</string>
			<key>RingRadius</key>
			<string>60</string>
			<key>SoundSet</key>
			<string>Hero_DragonKnight</string>
			<key>StatusHealth</key>
			<string>100</string>
			<key>StatusHealthRegen</key>
			<string>0</string>
			<key>StatusMana</key>
			<string>100</string>
			<key>StatusManaRegen</key>
			<string>0</string>
			<key>StatusStartingMana</key>
			<string>0</string>
			<key>VisionDaytimeRange</key>
			<string>512</string>
			<key>VisionNighttimeRange</key>
			<string>384</string>
			<key>VoiceFile</key>
			<string>soundevents/voscripts/game_sounds_vo_wisp.vsndevts</string>
			<key>override_hero</key>
			<string>npc_dota_hero_wisp</string>
		</dict>
	</dict>
</dict>
</plist>
