<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item_recipe_anmie</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3010</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_miyinchui;item_miyinchui;item_kuweishi</string>
		</dict>
		<key>ItemResult</key>
		<string>item_anmie</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_dadianchui</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3012</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_xuanwo;item_zhenfenbaoshi</string>
		</dict>
		<key>ItemResult</key>
		<string>item_dadianchui</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_dapao</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3009</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_shuijingjian;item_emodaofeng</string>
		</dict>
		<key>ItemResult</key>
		<string>item_dapao</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_fengkuangmianju</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3001</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_xixuemianju;item_duangun</string>
		</dict>
		<key>ItemResult</key>
		<string>item_fengkuangmianju</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_hongzhang_1</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3020</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_molifazhang;item_wangguan</string>
		</dict>
		<key>ItemResult</key>
		<string>item_hongzhang_1</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_hongzhang_2</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3021</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_molifazhang;item_hongzhang_1</string>
		</dict>
		<key>ItemResult</key>
		<string>item_hongzhang_2</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_hongzhang_3</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3022</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_molifazhang;item_hongzhang_2</string>
		</dict>
		<key>ItemResult</key>
		<string>item_hongzhang_3</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_hongzhang_4</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3023</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_molifazhang;item_hongzhang_3</string>
		</dict>
		<key>ItemResult</key>
		<string>item_hongzhang_4</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_hongzhang_5</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3024</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_molifazhang;item_hongzhang_4</string>
		</dict>
		<key>ItemResult</key>
		<string>item_hongzhang_5</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_huiguang</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3018</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_molifazhang;item_fashichangpao</string>
		</dict>
		<key>ItemResult</key>
		<string>item_huiguang</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_jianrenqiu</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3016</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_zhiliaozhihuan;item_xuwubaoshi</string>
		</dict>
		<key>ItemResult</key>
		<string>item_jianrenqiu</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_jingubang</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3013</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_emodaofeng;item_biaoqiang;item_duangun</string>
		</dict>
		<key>ItemResult</key>
		<string>item_jingubang</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_longxin</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3005</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_dafu;item_huoliqiu;item_huoliqiu</string>
		</dict>
		<key>ItemResult</key>
		<string>item_longxin</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_qiangxi</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3004</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_banjia;item_suozijia;item_zhenfenbaoshi</string>
		</dict>
		<key>ItemResult</key>
		<string>item_qiangxi</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_renjia</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3006</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_suozijia;item_kuojian</string>
		</dict>
		<key>ItemResult</key>
		<string>item_renjia</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_shengjian</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3002</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_shengzheyiwu;item_emodaofeng</string>
		</dict>
		<key>ItemResult</key>
		<string>item_shengjian</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_shuaxinqiu</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3017</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_jianrenqiu;item_jianrenqiu</string>
		</dict>
		<key>ItemResult</key>
		<string>item_shuaxinqiu</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_shuijingjian</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3008</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_kuojian;item_gongjizhizhua</string>
		</dict>
		<key>ItemResult</key>
		<string>item_shuijingjian</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_tiaozhantoujin</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3014</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_zhiliaozhihuan;item_huifuzhihuan;item_kangmodoupeng</string>
		</dict>
		<key>ItemResult</key>
		<string>item_tiaozhantoujin</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_xianfengdun</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3007</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_huoliqiu;item_yuandun;item_zhiliaozhihuan</string>
		</dict>
		<key>ItemResult</key>
		<string>item_xianfengdun</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_xuanwo</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3011</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_miyinchui;item_biaoqiang</string>
		</dict>
		<key>ItemResult</key>
		<string>item_xuanwo</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_yangdao</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3019</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_shenmifazhang;item_jixianfaqiu;item_xuwubaoshi</string>
		</dict>
		<key>ItemResult</key>
		<string>item_yangdao</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
	<key>item_recipe_yinyuezhijing</key>
	<dict>
		<key>BaseClass</key>
		<string>item_recipe_arcane_boots</string>
		<key>ID</key>
		<string>3015</string>
		<key>ItemCost</key>
		<string>0</string>
		<key>ItemRecipe</key>
		<string>1</string>
		<key>ItemRequirements</key>
		<dict>
			<key>01</key>
			<string>item_zhenfenbaoshi;item_zhenfenbaoshi</string>
		</dict>
		<key>ItemResult</key>
		<string>item_yinyuezhijing</string>
		<key>ItemShopTags</key>
		<string></string>
	</dict>
</dict>
</plist>
